<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<div class="row">

	<div class="center-block" style="margin-left: -150% ; height: 10px">
		{{name}} Your Health Today :
		<p>value: {{verticalSlider6.value}}</p>
		<br />
    valueHover : <span id="durtimeText"></span><br />
	</div>

	<div class="center-block" style=" margin-left: 60%; height: 500px">
		<ngx-slider id="seekslider" [(value)]="verticalSlider6.value" [options]="verticalSlider6.options"></ngx-slider>


	</div>

</div>